<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @claim.name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @claim.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @claim.contact_phone %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @claim.memo %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
