<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @job.type %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @job.offer %>
</p>

<p>
  <strong>Experience required:</strong>
  <%= @job.experience_required %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
